#images {
  display: flex;
}

@media all and (max-width: 768px) {
  #tap1 {
    font-size: 80%;
  }
  #tap2 {
    font-size: 80%;
  }
  #tap3 {
    font-size: 80%;
  }
}
@media all and (max-width: 425px) {
  #tap1 {
    font-size: 70%;
  }
  #tap2 {
    font-size: 70%;
  }
  #tap3 {
    font-size: 70%;
  }
}
@media all and (max-width: 320px) {
  #tap1 {
    font-size: 50%;
  }
  #tap2 {
    font-size: 50%;
  }
  #tap3 {
    font-size: 50%;
  }
}
