* {
  font-family: "Pattaya", sans-serif !important;
}

.description {
  background: -webkit-linear-gradient(
    90deg,
    #000000,
    #230b10,
    #331016,
    #230b10,
    #000000
  );
  background: linear-gradient(
    90deg,
    #000000,
    #230b10,
    #331016,
    #230b10,
    #000000
  );
  color: white;
  margin-top: 50;
  width: 70%;
  border-radius: 20;
}

/* !adaptivka start */

#rest {
  font-size: 100%;
  padding-top: 10px;
  font-family: "Roboto Slab", serif !important;
}

#opis {
  width: 80%;
  text-align: center;
  margin: 0 0 10px 0;
  padding-top: 5px;
  font-family: "Caveat", cursive !important;
}

/* ? odaptivka end */

@media all and (max-width: 450px) {
  #rest {
    font-size: 80%;
  }
  #opis {
    font-size: 70%;
  }
}
@media all and (max-width: 400px) {
  #rest {
    font-size: 70%;
  }
  #opis {
    font-size: 60%;
  }
}
