* {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana,
    sans-serif !important;
}

#appbar {
  background: -webkit-linear-gradient(90deg, #b6c3ca, #ffffff);
  background: linear-gradient(90deg, #b6c3ca, #ffffff);
  border-radius: 10px;
}

#block__link:hover {
  border-radius: 10px;
  transition: 600ms;
}

#link {
  text-decoration: none;
  color: black;
}
