
* {
  font-family: "Cinzel", serif !important;
  padding: 0;
  margin: 0;
}


#appbar:hover {
  box-shadow: none;
  transition: 800ms;
}

#appbar {
  background: -webkit-linear-gradient(
    90deg,
    #000000,
    #230b10,
    #331016,
    #230b10,
    #000000
  );
  background: linear-gradient(
    90deg,
    #000000,
    #230b10,
    #331016,
    #230b10,
    #000000
  );
  box-shadow: none;
}

#block__link:hover {
  border-radius: 10px;
  transition: 600ms;
}

#link {
  text-decoration: none;
  color: white;
  font-family: "Caveat", cursive !important;
}

